body {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.text-lg {
  font-size: 2em;
}
.text-sm {
  font-size: 0.75em;
}
.vertical-space {
  margin-top: 2em;
}

.note-input,
.expanding-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: none;
}
.note-output {
  display: block;
}

.panel-body {
  padding: 30px 30px 15px 30px;
}
  .panel-body:hover {
    cursor: pointer;
  }
.panel-footer {
  display: none;
}
.editing .note-input,
.editing .expanding-wrapper {
  display: block;
  outline: 0px !important;
  -webkit-appearance:none;
  border: none;
  box-shadow: none;
}
.editing .panel-footer {
  display: block;
  background-color: #fff;
}

.buttons-inline {
  width: 33.3333333333%;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.editing .buttons-inline .btn {
  width: 100%;
  font-size: 1.1em;
}
.editing .note-output {
  display: none;
}

#add-note {
  width: 100%;
  font-size: 1.1em;
}
